{%extends 'base.html'%}
{% load static %}
{% load mediasocial_search_and_filter_tags %}

{% block title %} {{page_title}} {% endblock %}

{% block body-content-category %}
    {% filter_box request query type_media %}
{% endblock body-content-category %}

{% block body-content-news-main %}
<div class="mediasocials-container">
    {% include 'media/components/index.html' %}
</div>
{% endblock body-content-news-main %}

{% block body-content-news-secondary %}

{% endblock body-content-news-secondary %}
<!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/Na3HkzUGJ84" title="Thầy Minh Niệm | Học Cách Tha Thứ Và Để Quá Khứ Ở Lại" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
