{%extends 'base.html'%}
{% load static %}
{% load product_search_and_filter_tag %}

{% block title %} {{page_title}} {% endblock %}

{% block header-banner %} 

{% endblock header-banner %}

{% block body-content-category %}
    {% filter_box request query %}
{% endblock body-content-category %}

{% block body-content-news-main %}
    <div class="loudspeakers-container">
        {% include 'product/loudspeaker/components/loudspeaker_list.html' %}
    </div>
{% endblock body-content-news-main %}

{% block body-content-news-secondary %}

{% endblock body-content-news-secondary %}