{% extends 'base.html' %}
{% load static %}
{% block title %}
{{page_title}}
{% endblock %}

{% block header%}
{% include 'header.html' %}
{% endblock header %}

{% block banner-slider%}

{% endblock banner-slider %}

<!--main conten-->
{% block main-content%}
<div class="container">
    <div class="row text-center m-3 text-primary"><h2>Doctors</h2></div>
    <div class="row m-3">
        <div class="col-md-4"><a href="#" class="btn btn-success">Add Doctor</a></div>
        <div class="col-md-3">
            <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search by name or phone" aria-label="Search">
        </div>
        <div class="col-md-2">
            <button id="search-button" class="btn btn-outline-success">Search</button>
        </div>
    </div>
    <div id="title-search" class="row"></div>
    <div id="result-search" class="row"></div>
    <hr>
    <hr>

    <div id="doctors" class="row">
        {% if doctors %}
        {% for doctor in doctors %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ doctor.image }}" alt="{{ doctor.name.fullname }}" width="50%"
                     height="50%">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ doctor.name.fullname }}</h5>
                    {% for specialties in doctor.specialties %}
                    <p class="card-text">{{ specialties.name}}, </p>
                    {% endfor %}
                    <p class="card-text">Phone: {{ doctor.phone }}</p>
                    <p class="card-text">Email: {{ doctor.email }}</p>
                    <a href="{% url 'doctor:details' id=doctor.id %}" class="btn btn-success">Details</a>
                    <a href="{% url 'doctor:delete' id=doctor.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No doctors found.</p>
        {% endif %}
    </div>
</div>
<script>
    const doctorsData = [
        {% for doctor in doctors %}
        {
            id: {{ doctor.id }},
            image: "{{ doctor.image }}",
            name: "{{ doctor.name.fullname }}",
            phone: "{{ doctor.phone }}",
            email: "{{ doctor.email }}"
        },
        {% endfor %}
    ];
    document.getElementById('search-button').addEventListener('click', function () {
        const searchInput = document.getElementById('search-input').value;
        if(searchInput === '') return alert('Please enter a search value.');
        const searchResult = doctorsData.filter(doctor => doctor.name.toLowerCase().includes(searchInput.toLowerCase()) || doctor.phone.includes(searchInput));
        if (searchResult.length > 0) {
            document.getElementById('title-search').innerHTML = '<h3>Search Result</h3>';
            document.getElementById('result-search').innerHTML = searchResult.map(doctor => `
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="${doctor.image }" alt="${doctor.name.fullname}">
                    <div class="card-body">
                        <h5 class="card-title">Name: ${doctor.name}</h5>
                        <p class="card-text">Phone: ${doctor.phone}</p>
                        <p class="card-text">Email: ${doctor.email}</p>
                        <a href="/doctors/details/${doctor.id}" class="btn btn-success">Details</a>
                        <a href="/doctors/${doctor.id}/delete/" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            `).join('');
        } else {
            document.getElementById('title-search').innerHTML = '';
            document.getElementById('result-search').innerHTML = '<p>No doctors found.</p>';
        }
    });
        
</script>
{% endblock main-content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}