{% load static %}
<div class="row text-center p-1 text-primary">
    <h2>Những danh ngôn</h2>
</div>

<div class="row row-cols-3 px-1" id="sayings-data">
    <!-- Sayings will be appended here by JavaScript -->
</div>

<div class="row align-items-center p-3">
    {% include 'media/sayings/components/pagination.html' %}
</div>

<script>
    const sayingsData = [
        {% for saying in sayings %}
        {
            id: "{{ saying.id }}",
            detail_url: "{% url 'media_social-sayings:detail' slug=saying.slug %}",
            title: "{{ saying.title }}",
            author: "{{ saying.author }}",
            view: "{{ saying.view }}",
            image: "{{ saying.image }}"
        },
        {% endfor %}
    ];
    console.log(sayingsData);
    const sayingsDataContainer = document.getElementById('sayings-data');

    function renderSayings() {
        for (let i = 0; i < sayingsData.length; i++) {
            const saying = sayingsData[i];
            const sayingElement = document.createElement('div');
            sayingElement.classList.add('col-md-4');
            sayingElement.innerHTML = `
                <div class="card height-60">
                    <a href="${saying.detail_url}"><img class="card-img-top" src="${saying.image}" alt="${saying.title}" width="80px" height="140px"></a>
                    <div class="card-body">
                        <h6 class="card-title">Title: ${saying.title}</h6>
                        <p class="card-subtitle ">Author: ${saying.author}</p>
                        <p class="card-subtitle">View: ${saying.view} </p>
                    </div>
                </div>
            `;
            sayingsDataContainer.appendChild(sayingElement);

        }
    }

    renderSayings();

</script>

