{% load static %}

<div class="container">
    <div class="row images-product">

    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="row" id="loudspeakers-data">
                <!-- Loudspeakers will be appended here by JavaScript -->
            </div>
        </div>
        <div class="col-4">
            <div class="row" id="usbs-data">
                <!-- USBs will be appended here by JavaScript -->
            </div>
        </div>
        <div class="col-4">
            <div class="row" id="memory_sticks-data">
                <!-- Memory Sticks will be appended here by JavaScript -->
            </div>
        </div>
    </div>
    <div class="row m-3 justify-content-center">
        <button id="show-more" class="btn btn-primary w-50" style="display: block;">Xem thêm</button>
    </div>
        
</div>
<script>
    const loudspeakersData = [
        {% for loudspeaker in loudspeakers %}
        {
            detail_url: "{% url 'product-loudspeaker:detail' slug=loudspeaker.slug %}",
            name: "{{ loudspeaker.name }}",
            image: "{{ loudspeaker.image }}",
            view: "{{ loudspeaker.view }}",
            price_new: "{{ loudspeaker.price_new }}",
            add_cart: "{% url 'cart:add-item' product_slug=loudspeaker.slug product_type='Loudspeaker' %}"
        },
        {% endfor %}
    ];
    console.log(loudspeakersData);

    const usbsData = [
        {% for usb in usbs %}
        {
            detail_url: "{% url 'product-usb:detail' slug=usb.slug %}",
            name: "{{ usb.name }}",
            image: "{{ usb.image }}",
            view: "{{ usb.view }}",
            price_new: "{{ usb.price_new }}",
            add_cart: "{% url 'cart:add-item' product_slug=usb.slug product_type='USB' %}"
        },
        {% endfor %}
    ];
    console.log(usbsData);

    const memory_sticksData = [
        {% for memory_stick in memory_sticks %}
        {
            detail_url: "{% url 'product-memory_stick:detail' slug=memory_stick.slug %}",
            name: "{{ memory_stick.name }}",
            image: "{{ memory_stick.image }}",
            view: "{{ memory_stick.view }}",
            price_new: "{{ memory_stick.price_new }}",
            add_cart: "{% url 'cart:add-item' product_slug=memory_stick.slug product_type='MemoryStick' %}"
        },
        {% endfor %}
    ];
    console.log(memory_sticksData);

    let loudspeakersIndex = 0;
    let usbsIndex = 0;
    let memorySticksIndex = 0;
    const productPerRow = 2;
    const loudspeakersDataContainer = document.getElementById('loudspeakers-data');
    const usbsDataContainer = document.getElementById('usbs-data');
    const memorySticksDataContainer = document.getElementById('memory_sticks-data');
    const showMoreButton = document.getElementById("show-more");

    function renderLoudspeakers() {
        for (let i = 0; i < productPerRow; i++) {
            if (loudspeakersIndex >= loudspeakersData.length) {
                showMoreButton.style.display = "none";
                return;
            }
            const loudspeaker = loudspeakersData[loudspeakersIndex];
            const loudspeakerElement = document.createElement('div');
            loudspeakerElement.classList.add('col-md-6');
            loudspeakerElement.innerHTML = `
                <div class="card height-60">
                    <a href="${loudspeaker.detail_url}"><img class="card-img-top" src="${loudspeaker.image}" alt="${loudspeaker.name}" ></a>
                    <div class="card-body">
                        <h6 class="card-title">Name: ${loudspeaker.name}</h6>
                        <h6 class="card-title ">Price: ${loudspeaker.price_new} </h6>
                        <h6 class="card-subtitle ">View: ${loudspeaker.view} </h6>
                    </div>
                    <div class="card-footer">
                        <a href="${loudspeaker.add_cart}" class="w-100 btn btn-warning"><b>Add to cart</b></a>
                    </div>
                </div>
            `;
            loudspeakersDataContainer.appendChild(loudspeakerElement);
            loudspeakersIndex++;
        }
    }

    function renderUsbs() {
        for (let i = 0; i < productPerRow; i++) {
            if (usbsIndex >= usbsData.length) {
                showMoreButton.style.display = "none";
                return;
            }
            const usb = usbsData[usbsIndex];
            const usbElement = document.createElement('div');
            usbElement.classList.add('col-md-6');
            usbElement.innerHTML = `
                <div class="card height-60">
                    <a href="${usb.detail_url}"><img class="card-img-top" src="${usb.image}" alt="${usb.name}"></a>
                    <div class="card-body">
                        <h6 class="card-title">Name: ${usb.name}</h6>
                        <h6 class="card-title">Price: ${usb.price_new} </h6>
                        <h6 class="card-subtitle">View: ${usb.view} </h6>
                    </div>
                    <div class="card-footer">
                        <a href="${usb.add_cart}" class="w-100 btn btn-warning"><b>Add to cart</b></a>
                    </div>
                </div>
            `;
            usbsDataContainer.appendChild(usbElement);
            usbsIndex++;
        }
    }

    function renderMemorySticks() {
        for (let i = 0; i < productPerRow; i++) {
            if (memorySticksIndex >= memory_sticksData.length) {
                showMoreButton.style.display = "none";
                return;
            }
            const memoryStick = memory_sticksData[memorySticksIndex];
            const memoryStickElement = document.createElement('div');
            memoryStickElement.classList.add('col-md-6');
            memoryStickElement.innerHTML = `
                <div class="card height-60">
                    <a href="${memoryStick.detail_url}"><img class="card-img-top" src="${memoryStick.image}" alt="${memoryStick.name}"></a>
                    <div class="card-body">
                        <h6 class="card-title">Name: ${memoryStick.name}</h6>
                        <h6 class="card-title">Price: ${memoryStick.price_new} </h6>
                        <h6 class="card-subtitle">View: ${memoryStick.view} </h6>
                    </div>
                    <div class="card-footer">
                        <a href="${memoryStick.add_cart}" class="w-100 btn btn-warning"><b>Add to cart</b></a>
                    </div>
                </div>
            `;
            memorySticksDataContainer.appendChild(memoryStickElement);
            memorySticksIndex++;
        }
    }

    showMoreButton.addEventListener('click', () => {
        renderLoudspeakers();
        renderUsbs();
        renderMemorySticks();
    });

    renderLoudspeakers();
    renderUsbs();
    renderMemorySticks();


</script>

