{% load static %}
<div class="filter-box bg-light">
    <div class="title row text-center">
        <h6>Lọc theo loại, nhà sản xuất và giá</h6>
    </div>
    <form action="" method="get">
        <!-- search input -->
        <div class="mb-3">
            <input type="text" class="form-control" id="searchInput" name="query" value="{{ query }}" required>
        </div>
        
        <!-- producer select -->
        <div class="mb-3">
            <label for="producerSelect" class="form-label">Select producer</label>
            <select id="producerSelect" class="form-select" name="producer">
                <option value="" selected>Tất cả</option>
                {% for producer in producers %}
                <option value="{{ producer.slug }}">{{ producer.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- type select -->
        <div class="mb-3">
            <label for="typeSelect" class="form-label" >Select type</label>
            <select id="typeSelect" class="form-select" name="type">
                <option value="" selected>Tất cả</option>
                {% for type in types %}
                <option value="{{ type.slug }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- price select -->
        <div class="mb-3">
            <label for="authorSelect" class="form-label" >Select price</label>
            <select id="authorSelect" class="form-select" name="price">
                <option value="0" selected>Tất cả</option>
                <option value="100000"> > 100k</option>
                <option value="500000"> > 500k</option>
                <option value="1000000"> > 1 triệu</option>
            </select>
        </div>

        <!-- submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Lọc</button>
        </div>
    </form>
</div>