{% load static %}
<div class="row text-center p-1 text-primary">
    <h2>Danh sách USB</h2>
</div>

<div class="row row-cols-3 px-1" id="usbs-data">
    <!-- usbs will be appended here by JavaScript -->
</div>

<div class="row align-items-center p-3">
    {% include 'product/components/pagination.html' %}
</div>

<script>
    const usbData = [
    {% for usb in usbs %}
        {
            detail_url: "{% url 'product-usb:detail' slug=usb.slug %}",
            name: "{{ usb.name }}",
            image: "{{ usb.image }}",
            producer: "{{ usb.producer }}",
            view: "{{ usb.view }}",
            price_new: "{{ usb.price_new }}",
            add_cart: "{% url 'cart:add-item' product_slug=usb.slug product_type='USB' %}"
        },
        {% endfor %}
    ];
    console.log(usbData);
    const usbsDataHtml = usbData.map(usb => `
        <div class="col">
            <div class="card h-100">
                <a href="${usb.detail_url}"><img src="${usb.image}" class="card-img-top" alt="${usb.name}"></a>
                <div class="card-body">
                    <h5 class="card-title">${usb.name}</h5>
                    <p class="card-subtitle">Nhà sản xuất: ${usb.producer}</p>
                    <p class="card-subtitle">Lượt xem: ${usb.view}</p>
                    <p class="card-subtitle">Giá mới: ${usb.price_new}</p>
                </div>
                <div class="card-footer">
                    <a href="${usb.detail_url}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="${usb.add_cart}" class="btn btn-warning"><b>Add to cart</b></a>
                </div>
            </div>
        </div>
    `).join('');
    document.getElementById('usbs-data').innerHTML = usbsDataHtml;

 
</script>
