{% load static %}
<div class="row text-center p-1 text-primary">
    <h2>Những danh ngôn</h2>
</div>

<div class="row row-cols-3 px-1" id="sayings-data">
    <!-- Sayings will be appended here by JavaScript -->
</div>

<div class="row text-center justify-content-md-center align-items-center p-3">
    <button id="sayings-load-more" class="view-more btn btn-primary w-25" style="display:block;">Xem thêm</button>
    <a href="{% url 'media_social:sayings' %}" id="sayings-view-all" class="view-all btn btn-secondary w-25" style="display:none;">Xem tất cả</a>
</div>

<script>
    const sayingsData = [
        {% for saying in content.sayings %}
        {
            id: {{ saying.id }},
            detail_url: "{% url 'media_social:detail_saying' slug=saying.slug %}",
            title: "{{ saying.title }}",
            author: "{{ saying.author }}",
            view: {{ saying.view }},
            image: "{{ saying.image }}"
        },
        {% endfor %}
    ];
    console.log(sayingsData);
    const sayingsLoadMore = document.getElementById('sayings-load-more');
    const sayingsViewAll = document.getElementById('sayings-view-all');
    const sayingsDataContainer = document.getElementById('sayings-data');

    let sayingsIndex = 0;
    const sayingsPerPage = 3;

    function renderSayings() {
        for (let i = 0; i < sayingsPerPage; i++) {
            if (sayingsIndex >= sayingsData.length) {
                sayingsLoadMore.style.display = 'none';
                sayingsViewAll.style.display = 'block';
                break;
            }

            const saying = sayingsData[sayingsIndex];
            const sayingElement = document.createElement('div');
            sayingElement.classList.add('col-md-4');
            sayingElement.innerHTML = `
                <div class="card height-60">
                    <a href="${saying.detail_url}"><img class="card-img-top" src="${saying.image}" alt="${saying.title}"></a>
                    <div class="card-body">
                        <h6 class="card-title">Title: ${saying.title}</h6>
                        <h6 class="card-subtitle ">Author: ${saying.author}</h6>
                        <h6 class="card-subtitle">View: ${saying.view} </h6>
                    </div>
                </div>
            `;
            sayingsDataContainer.appendChild(sayingElement);
            sayingsIndex++;
        }
    }

    renderSayings();

    sayingsLoadMore.addEventListener('click', renderSayings);

</script>

