{% extends "base.html" %}
{% load static %}
{% block title %}
{{page_title}}
{% endblock %}
{%block header%}
{% include 'page/mobile_header.html' %}
{% endblock header%}
{% block main-content %}

<div class="m-3 text-success">
  <img src="{% static product.imageURL %}">
  <h4>Name: {{product.name}}</h4>
  <h4>Price: {{product.price}}</h4>
  <h5>Producer: {{product.producer}}</h5>
  <h5>Type: {{product.type}}</h5>
  <h5>
    <a class="btn btn-outline-warning" href="{% url 'add-mobile-to-cart' product.slug%}">
      <b>Add Cart</b>
    </a>
  </h5>
</div>

<!--<a href="/customers">all customers</a>-->
{% endblock %}