{% load static %}
<div class="row text-center p-1 text-primary">
    <h2>Danh sách Thẻ Nhớ</h2>
</div>

<div class="row row-cols-3 px-1" id="memory_sticks-data">
    <!-- memory_sticks will be appended here by JavaScript -->
</div>

<div class="row align-items-center p-3">
    {% if query %}
        {% include 'product/components/pagination-search.html' %}
    {% else %}
        {% include 'product/components/pagination.html' %}
    {% endif %}
</div>

<script>
    const memory_stickData = [
    {% for memory_stick in memory_sticks %}
        {
            detail_url: "{% url 'product-memory_stick:detail' slug=memory_stick.slug %}",
            name: "{{ memory_stick.name }}",
            image: "{{ memory_stick.image }}",
            view: "{{ memory_stick.view }}",
            price_new: "{{ memory_stick.price_new }}",
            add_cart: "{% url 'cart:add-item' product_slug=memory_stick.slug product_type='MemoryStick' %}"
        },
        {% endfor %}
    ];
    console.log(memory_stickData);
    const memory_sticksDataHtml = memory_stickData.map(memory_stick => `
        <div class="col">
            <div class="card h-100">
                <a href="${memory_stick.detail_url}"><img src="${memory_stick.image}" class="card-img-top" alt="${memory_stick.name}"></a>
                <div class="card-body">
                    <h5 class="card-title">${memory_stick.name}</h5>
                    <p class="card-subtitle">Lượt xem: ${memory_stick.view}</p>
                    <p class="card-subtitle">Giá mới: ${memory_stick.price_new}</p>
                </div>
                <div class="card-footer">
                    <a href="${memory_stick.detail_url}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="${memory_stick.add_cart}" class="btn btn-warning"><b>Add to cart</b></a>
                </div>
            </div>
        </div>
    `).join('');
    document.getElementById('memory_sticks-data').innerHTML = memory_sticksDataHtml;

 
</script>
