{% load static %}

<div class="row p-3">
    <form class="d-flex" method="GET" action="{% url 'product-memory_stick:search' %}">
            <input class="form-control form-control-dark bg-light" type="search" placeholder="Search By Memorystick" aria-label="Search By Memorystick"
                   name="query" id="result" value="" required>
            <button class="btn btn-outline-dark" type="submit" id="search">
                <img src="{% static '/images/search.png' %}" height="30" width="30">
            </button>
        </form>
</div>