{%extends 'base.html'%}
{% load static %}

{% block title %} {{page_title}} {% endblock %}

{% block body-content-category %}
<div class="search-container">
    {% include 'product/memory_stick/components/search-form.html' %}
</div>
{% endblock body-content-category %}

{% block body-content-news-main %}
<div class="memory_sticks-container">
    {% include 'product/memory_stick/components/memorystick_list.html' %}
</div>
{% endblock body-content-news-main %}

{% block body-content-news-secondary %}

{% endblock body-content-news-secondary %}

