{% load static %}
<ul class="pagination justify-content-md-center bg-light">
    <li class="page-item">
        <a class="page-link" href="#" id="page_first">First</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" id="page_previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>

    <li class="page-item"><a class="page-link" href="#" id="page_before"></a></li>

    <li class="page-item active" aria-current="page"><a class="page-link" href="#" id="page_current"></a></li>

    <li class="page-item"><a class="page-link" href="#" id="page_after"></a></li>

    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" id="page_next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" id="page_last">Last</a>
    </li>
</ul>
<!-- 'page': page,
'items_per_page': items_per_page,
'total_items': total_items, -->
<script>
    const page_first = document.getElementById('page_first');
    const page_previous = document.getElementById('page_previous');
    const page_before = document.getElementById('page_before');
    const page_current = document.getElementById('page_current');
    const page_after = document.getElementById('page_after');
    const page_next = document.getElementById('page_next');
    const page_last = document.getElementById('page_last');

    const page = Number('{{ page }}');
    const items_per_page = Number('{{ items_per_page }}');
    const total_items = Number('{{ total_items }}');
    const total_pages = Math.ceil(total_items / items_per_page);

    const author_slug = '{{ author_slug }}';
    const category_slug = '{{ category_slug }}';
    const producer_slug = '{{ producer_slug }}';
    const time = '{{ time }}';

    console.log("items_per_page: " + items_per_page);
    console.log("total_items: " + total_items);
    console.log("total_pages: " + total_pages);
    console.log("author_slug: " + author_slug);
    console.log("category_slug: " + category_slug);
    console.log("producer_slug: " + producer_slug);
    console.log("time: " + time);
    
    if(page == 1) {
        page_first.style.display = 'none';
        page_previous.style.display = 'none';
        page_before.style.display = 'none';
        page_current.innerHTML = page;
        page_current.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page}`;
        page_after.innerHTML = page + 1;
        page_after.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page+1}`;
        page_next.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page+1}`;
        page_last.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${total_pages}`;
    }
    else{
        if(page == total_pages){
            page_last.style.display = 'none';
            page_next.style.display = 'none';
            page_after.style.display = 'none';
            page_current.innerHTML = page;
            page_current.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page}`;
            page_before.innerHTML = page - 1;
            page_before.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page-1}`;
            page_previous.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page-1}`;
            page_first.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=1`;
        }
        else{
            page_current.innerHTML = page;
            page_current.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page}`;
            page_before.innerHTML = page - 1;
            page_before.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page-1}`;
            page_after.innerHTML = page + 1;
            page_after.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page+1}`;
            page_previous.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page-1}`;
            page_next.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${page+1}`;
            page_first.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=1`;
            page_last.href = `?author_slug=${author_slug}&category_slug=${category_slug}&producer_slug=${producer_slug}&time=${time}&page=${total_pages}`;
        }
    }

    
</script>