{%extends 'base.html'%}
{% load static %}
{% load product_filter_tag %}

{% block title %} {{page_title}} {% endblock %}

{% block body-content-category %}
<div class="search-container">
    {% include 'product/usb/components/search-form.html' %}
</div>
{% filter_box request %}
{% endblock body-content-category %}

{% block body-content-news-main %}
<div class="usbs-container">
    {% include 'product/usb/components/usb_list.html' %}
</div>
{% endblock body-content-news-main %}

{% block body-content-news-secondary %}

{% endblock body-content-news-secondary %}

