{% load static %}

<header class="p-1 bg-info text-white fixed-top ">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="mb-2 text-white text-decoration-none">
                <img src="{% static 'images/icon.png' %}" width="50" height="50">
<!--                <b >Hospital3Goc</b>-->
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto p-2 justify-content-center mb-md-0">
                <li class="nav-item mx-2"><a href="{% url 'index' %}" class="nav-link text-white"><b>Home</b></a></li>
                {% if request.session.user.account.is_superuser %}
                <li class="nav-item mx-2"><a href="{% url 'doctor:doctors' %}" class="nav-link text-white"><b>Doctors</b></a>
                </li>
                <li class="nav-item mx-2"><a href="{% url 'appointment:appointments' %}" class="nav-link text-white"><b>Appointments</b></a>
                </li>
                <li class="nav-item mx-2"><a href="{% url 'patientln:patients' %}" class="nav-link text-white"><b>Patientln Information</b></a>
                </li>
                {% endif %}

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <b>Account</b>
                    </a>
                    {% if request.session.user %}
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="nav-link dropdown-item" href="{%url 'user:informations'%}" role="button">
                                <b>{{ request.session.user.account.username }} </b>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Log Out</a></li>
                    </ul>
                    {% else %}
                    <ul class="dropdown-menu">
                        <li><a class="nav-item mx-2" href="{% url 'user:login' %}">Login</a></li>
                        <li><a class="nav-item mx-2" href="#">Sign Up</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</header>
