{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{page_title}}
{% endblock %}

{% block header%}
  {% include 'header.html' %}
{% endblock header %}

{% block banner-slider%}
  
{% endblock banner-slider %}

<!--main conten-->
{% block main-content%}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Welcome to Hospital 3 Goc</h2>
        <p class="text-center">We are here to help you</p>
      </div>
    </div>
  </div>
{% endblock main-content %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}