{% load static %}
<div class="header-top row">
    <div class="col-8">khau hieu</div>
    <div class="col-4">
            {% if request.session.account %}
            <h6>Hi {{ account.username }}</h6>
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="#" alt="image user" style="width: 10px; height: 10px;">
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Informations</a></li>
                    <li>
                            <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>

            {% else %}
            <div class="col-6">
                    <a href="#">Đăng nhập</a>
            </div>
            <div class="col-6">
                    <a href="#">Đăng ký</a>
            </div>
            {% endif %}

    </div>
</div>
<div class="header-center row">
    <div class="col-4">
            <div class="col-3">
                    <a href="{% url 'core:index' %}">
                            <img src="{% static 'images/logo.png' %}" alt="logo">
                    </a>
            </div>
            <div class="col-9">
                    <h6>Thư Viện 3 Gốc</h6>
            </div>
    </div>
    <div class="col-7">
            <form action="#" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    </div>
    <div class="col-1">Cart</div>
</div>
<div class="header-bottom row justify-content-md-center">
    <ul class="nav nav-pills">
            <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">Sách nói</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#">Video</a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">Sản Phẩm Pháp Thoại</a>
                    <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Thẻ Nhớ</a></li>
                            <li><a class="dropdown-item" href="#">USB</a></li>
                            <li><a class="dropdown-item" href="#">Loa Pháp Thoại</a></li>
                    </ul>
            </li>
    </ul>
</div>
<div class="header-banner">
    {% block header-banner %} {% endblock header-banner %}
</div>