{% extends 'base.html' %}
{% block title %}
{{page_title}}
{% endblock %}
{% block header%}
{% include 'header.html' %}
{% endblock header %}

{% block main-content %}
<div class="container">
    <div class="row text-center m-3 text-primary">
        <h2>Appointment Details</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Doctor Informations</h5>
            <h5 class="card-title">Name: {{ appointment.doctor.name.fullname }}</h5>
            {% for specialties in appointment.doctor.specialties %}
            <p class="card-text">{{ specialties.name}}, </p>
            {% endfor %}
            <p class="card-text">Phone: {{ appointment.doctor.phone }}</p>
            <p class="card-text">Email: {{ appointment.doctor.email }}</p>
            <hr>
            <h5 class="card-title">Patient Informations</h5>
            <h5 class="card-title">{{ appointment.patient.name.fullname }}</h5>
            <p class="card-text">Day of Birth: {{ appointment.patient.day_of_birth }}</p>
            <p class="card-text">Gender: {{ appointment.patient.gender }}</p>
            <p class="card-text">Address: {{ appointment.patient.address.street }}, {{ patient.address.district }}, {{ patient.address.city }}</p>
            <p class="card-text">Phone: {{ appointment.patient.phone }}</p>
            <hr>
            <h5 class="card-title">Appointment Informations</h5>
            <p class="card-text">Appointment date/time: {{ appointment.appointment_date_time }}</p>
            <p class="card-text">Place: {{ appointment.place_of_examination }}</p>
            <p class="card-text">Description: {{ appointment.description }}</p>
            <a href="{% url 'appointment:appointments' %}" class="btn btn-primary">Back to List</a>
        </div>
    </div>

</div>
{% endblock %}