{%extends 'base.html'%}
{% load static %}
{% load catalog_tags %}
{% load banner_tag %}

{% block title %} {{page_title}} {% endblock %}

{% block header-banner %} 
    {% banner_box request %}
{% endblock header-banner %}

{% block body-content-category %}
    {% catalog_box request %}
{% endblock body-content-category %}

{% block body-content-news-main %}
<div class="mediaSocials-container">
    {% include 'core/components/media/index.html' %}
</div>
<!-- <h6>{{meta}}</h6> -->
{% endblock body-content-news-main %}

{% block body-content-news-secondary %}

{% endblock body-content-news-secondary %}

